@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    color: #52514f;
}

header {
    overflow: auto;
    background-color: #371f4c;
    padding: 0 5%;
    height: 60px;
    line-height: 60px;
}

img {
    max-height: 50px;
    padding: 5px 0;
}

strong {
    color: #8c408c;
    font-size: 1.1rem;
}

hr {
    margin: 5%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

str {

    color: #cccccc;;
    display: inline-block;
}

.cont {
    padding-top: 90px;
}

.poem {
    z-index: -11;
}

.navbar {
    width: 100vw;
    position: fixed;
    height: 60px;
    line-height: 60px;
    z-index: 999;
    display: inline-block;
}

.navItems {
    float: right;
}

.navLink {
    color: #eee;
    display: inline-block;
    height: 100%;
    padding: 0 20px;
    text-decoration: none;
    font-size: 1.6em;
    line-height: 60px;
}

.navLink:hover {
    background-color: white;
    color: rgb(85, 26, 139);
    box-shadow: inset 0 0 10px grey;
}

.login-btn {
    background-color: black;
    color: white;
    height: 30px;
    line-height: 30px;
    padding-left: 7%;
}

.sidebar {
    position: fixed;
    top: 90px;
    right: 0;
    width: 30%;
    padding: 25px;
    height: 100vh;
    background: rgba(229, 229, 229, 1);
    box-sizing: border-box;
    z-index: 998;
    box-shadow: -3px 0px 5px grey;
}

.homeContent,
.topContent,
.messContent,
.favContent {
    display: inline-block;
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
}

.content {
    position: absolute;
    width: 70%;
    top: 90px;
    box-sizing: border-box;
    padding: 0 25px;
}

.mainFeed {
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.9)), url("/bgHome.jpg");
    /*background-attachment: fixed;*/
}

.mainTop {
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.9)), url("/bgTop.jpg");
    background-attachment: fixed;
}

.mainMess {
    background-image: radial-gradient(transparent, rgba(0, 0, 0, 0.9)), url("/bgMess.jpg");
    background-attachment: fixed;
    min-height: 100%;
    overflow: scroll;
}

.mainTop,
.mainFeed {
    height: 90%;
}

.mainTop,
.mainFeed,
.mainMess {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.intro {
    text-align: left;
}

.texto {
    line-height: 1.2rem;
}

.textoTag {
    padding-top: 25px;
    font-size: 1.2em;
    text-align: center;
    line-height: 1.2em;
}

.messBtn {
    margin-top: 25px;
    box-sizing: border-box;
}

.messBtn button:first-child {
    margin-left: 10%;
}

.createMsg {
    border: solid 3px rgb(55, 31, 76);
    background-color: dimgray;
    color: white;
    border-radius: 20px;
    width: 20%;
    padding: 10px;
    margin-right: 10%;
}

.newMessCont,
.mesStatsCont {
    width: 60%;
    box-sizing: border-box;
    margin: 5% 20%;
}

.mesStatsCont {
    content: '';
    display: block;
    clear: both;
}



#sentCont,
#rcvCont {
    box-sizing: border-box;
    padding: 5px 20px;
    display: inline-block;
    width: 100%;
    border-radius: 25px;
    background-color: rgba(13, 13, 13, 0.7);
    max-height: 70vh;
    overflow: scroll;
    margin-bottom: 25px;
    display: none;
}

#sentCont {
    float: left;
    margin-right: 10%;
}

#rcvCont {
    float: right;
}

.main-layout,
.render-target {
    position: absolute;
    top: 0;
}

.dir,
.message {
    color: #cccccc;
}

.mesHeader {
    font-size: 1.3em;
}

.message {

    padding-left: 15px;
}

/*.row {*/
/*padding: 0 5%;*/
/*}*/

/*.row::after {*/
/*content: '';*/
/*display: block;*/
/*clear: both;*/
/*}*/

/*.column {*/
/*float: left;*/
/*min-height: 100%;*/
/*top: 0;*/
/*text-align: center;*/
/*margin: 0;*/
/*padding: 10px;*/
/*width: 30%;*/
/*display: inline-block;*/
/*}*/

.tituloFrase {
    font-size: 2rem;
    text-shadow: 1px 1px 5px grey;
}

.titulos {
    font-size: 2rem;
    color: #e4e4e4;
    text-shadow: 1px 1px 5px black;
    text-align: center;
}

.poemInput {
    height: 300px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    box-sizing: border-box;
}

.poemTag {
    border: solid black 1px;
    width: 65%;
    padding: 5px 10px;
    height: 30px;
}

.filterInput {
    border: solid black 1px;
    width: 68%;
    padding: 5px 10px;
    height: 30px;

}

.filterInput,
.poemTag,
.poemInput {
    border-radius: 5px;
}

.filterInput:focus,
.poemTag:focus,
.poemInput:focus {
    border: 3px solid #555;
    outline: none;
}

.filterBtn,
.poemBtn {
    color: #fff;
    background-color: #371f4c;
    border: none;
    border-radius: 5px;
    width: 25%;
    height: 100%;
    margin-left: 10px;
    padding: 0 6px;
    line-height: 40px;
}

.filterBtn {
    background-image: url("/search.png");
    width: 10%;
}

.likesCounter {

    color: #cccccc;
    padding: 0;
}

.topBtn {
    background-color: #371f4c;
    border: none;
    border-radius: 5px;
    width: 100px;
    margin: 5px;
    padding: 0 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
    padding: 5px;
    background-origin: content-box;
}

.filterBtn,
.like,
.delete {
    background-color: #371f4c;
    border: none;
    border-radius: 5px;
    width: 50px;
    margin: 5px;
    padding: 0 6px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    line-height: 20px;
    padding: 5px;
    background-origin: content-box;
}

.help {
    /*TODO*/
}

.delete {
    background-image: url("/trash.png");
}

.like {
    background-image: url("/like.png");
}

.poemTag,
.poemBtn {
    display: inline-block;
}

.poemAuthor {
    font-size: 1.7em;
    line-height: 1.7em;
}

.poemText {
    color: #cccccc;
    text-align: justify;
}

.poemTextTag {
    color: #cccccc;
    margin-top: 0;
    font-weight: bolder;

}

.accounts-dialog{
    border: 3px solid #555;
}

.poem {
    overflow: hidden;
    padding: 15px;
    list-style-type: none;
}

.user {
    color: #cccccc;
    overflow: hidden;
    padding: 15px;
    list-style-type: none;
}

.buttons {
    float: right;
}

.badge {
    padding: 0;
    height: 1em;
}

#listaUsers,
.poemList {
    padding: 0;
    margin: 0;
}

.longlist {
    border: solid black 1px;
    height: 70vh;
    overflow: scroll;
}

.feed {
    width: 50%;
    background-color: rgba(13, 13, 13, 0.7);
    position: absolute;
    left: 25%;
    border-radius: 25px;
    padding: 0 20px;
    box-sizing: border-box;
}

.feed-2col {
    background-color: rgba(13, 13, 13, 0.7);

    border-radius: 25px;
}

.topUsers,
.topFrases {
    width: 40%;
    display: inline-block;
    margin: 0px 3%;
}

.newMessCont{
    background-color: rgba(13, 13, 13, 0.7);
    padding: 0 25px;
    border-radius: 25px;
}

.messageBtn{
    margin-bottom: 25px;
}

.messageTo{
    padding: 6px 20px;
    resize: none;
    box-sizing: border-box;
    border-radius: 5px;
}
.messageInput{
    width: 100%;
    height: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    resize: none;
    box-sizing: border-box;
    border-radius: 5px;
}

#login-name-link{
    background-color: black;
    color: white;
}

.messageTo:focus,
.messageInput:focus{
    border: 3px solid #555;
    outline: none;
}

#listaUsers {
    text-align: left;
    margin-top: 10px;
}

#login-buttons #signup-link {
    padding: 8px;
    border-radius: 3px;
    margin: 10px 0;
}

#login-buttons #signup-link:hover {
    background-color: #000;
}

#login-buttons .login-close-text {
    padding: 8px;
    border-radius: 3px;
    margin: 10px 0;
}

#login-buttons .login-close-text:hover {
    background-color: #777;
}

.login-close-text{
    background-color: #52514f;

}

#login-buttons a {
    text-decoration: none;
    padding: 5px 15px;
}

#login-buttons a:hover {
    background-color: #333333;
}

#login-dropdown-list {
    background-color: #333;
    color: #fff;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
    background-color:  #371f4c;
}

#login-buttons .login-button:hover,
.accounts-dialog .login-button:hover {
    background-color:  #371f4c;
}

#login-buttons .login-button,
.accounts-dialog .login-button {
    background-color:  #371f4c;
    border: 1px solid  #371f4c;
}

#login-password-again,
#login-password,
#login-username {
    color: black;
}

#login-password-again:focus,
#login-password:focus,
#login-username:focus {
    outline: none;
}
